/* https://coolors.co/dfe2e0-c5c9c6-b5bab6-878f97-707880-4c5257-2f3337-26292c-1d1f21-141414 */
:root {
  /* --color-t: #c5c9c6; */
  --color-c: #1d1f21;
  --color-bg: #5e8d87;
  --color-y: #f0c775;
  --color-yg: #b5bd68;
  --color-n: #707880;
  --color-b: #81a2be;
  --color-v: #85678f;
  --color-gray-50: #dfe2e0;
  --color-gray-100: #c5c9c6;
  --color-gray-200: #b5bab6;
  --color-gray-300: #878f97;
  --color-gray-400: #707880;
  --color-gray-500: #4c5257;
  --color-gray-600: #2f3337;
  --color-gray-700: #26292c;
  --color-gray-800: #1d1f21;
  --color-gray-900: #141414;
  --color-main: hsl(135, 4%, 78%);
  /* --color-primary: hsl(172, 20%, 46%); */
  /* --color-primary: hsl(45, 50%, 50%); */
  --color-primary: hsl(40, 50%, 55%);
  --color-secondary: hsl(208, 7%, 47%);
}

:lang(de) {
  quotes: '»''«''›''‹';
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply text-4xl;
    @apply mt-14;
    @apply mb-4;
    @apply pt-2;
    @apply border-collapse;
    @apply border-t;
    @apply border-dashed;
    @apply border-secondary;
  }

  h3 {
    @apply text-2xl;
    @apply mt-12;
    @apply mb-4;
  }

  p {
    @apply mb-4;
  }

  code {
    @apply text-sm;
  }
  code:not(.listing-block *) {
    @apply bg-gray-700;
    @apply px-1 py-0.5;
  }

  pre {
    @apply overflow-x-auto;
    /* @apply lg:overflow-visible; */
    @apply mb-4;
    @apply p-2;
  }

  kbd.key {
    @apply bg-gray-700;
    @apply rounded;
    @apply border border-solid border-secondary;
    @apply inline-block;
    @apply text-xs;
    @apply p-0.5;
    @apply whitespace-nowrap;
  }

  main {
    div.ulist, nav.toc {
      @apply mb-4;
    }
    ul, ol {
      @apply pl-3;
  
      li {
        &::marker {
          content: "• ";
          @apply text-primary;
        }

        /* @apply mb-2; */
  
        p {
          @apply mb-0;
        }
      }
    }
    details>summary {
      cursor: pointer;
    }
    details summary>* { 
      display: inline;
    }

    aside.admonition-block {
      @apply border border-collapse border-dashed border-secondary;
      @apply text-secondary;
      /* @apply p-1; */
      @apply px-1 pt-1;
      @apply mb-4;
      
      h6 {
        display: inline;
        /* top: .25em; */
        /* position: relative; */
      }
      p {
        display: inline;
      }
      &[role=note] > h6::before {
        /* content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-info'><circle cx='12' cy='12' r='10'></circle><line x1='12' y1='16' x2='12' y2='12'></line><line x1='12' y1='8' x2='12.01' y2='8'></line></svg>"); */
        content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='hsl(208, 7%, 47%)' stroke-linecap='round' stroke-linejoin='round'><circle cx='12' cy='12' r='10'></circle><line x1='12' y1='16' x2='12' y2='12'></line><line x1='12' y1='8' x2='12.01' y2='8'></line></svg>");
        @apply stroke-1;
        stroke: white;
        /* display: inline-flex; */
        /* align-self: center; */
        /* height: 1em; */
        /* width: 1em; */
        /* display: inline-block; */
        vertical-align: middle;
        
      }
      h6 > span {
        display: none;
      }
    }
  
    a:not(.link) {
      @apply text-secondary;
      &::after {
        content: "␥";
      }
      
      img {
        @apply inline;
      }
    }

    /* extern */
    a[href^="http://"], a[href^="https://"] {
      &::after, &:hover {
        @apply text-bg;
      }
    }
    /* intern */
    a[href^="/"], a[href^=".."], a[href^="#_"] {
      &::after, &:hover {
        @apply text-primary;
      }
    }

    dl {
      dt {
        @apply text-primary font-light;
        @apply mb-1;

        span.lv3 {
          @apply text-lv3;
        }
        span.lv2 {
          @apply text-lv2;
        }
        span.lv1 {
          @apply text-lv1;
        }
        span.lv0 {
          @apply text-lv0;
        }
      }
      dd {
        @apply mb-4;
      }
    }

    dl.horizontal {
      dt {
        float: left;
        @apply mr-3;
      }
    }
  
    div.quote-block {
      @apply mb-6;
  
      blockquote {
        /* @apply border-solid border-l-2 border-secondary pl-2; */
  
        p {
          @apply text-lg;
          &:last-of-type {
            @apply mb-0;
          }
          /* @apply mb-0; */
        }

        /* p:last-of-type {
          @apply mb-0;
        } */
  
        p:first-of-type::before {
          content: open-quote;
          @apply text-secondary;
        }
  
        p:last-of-type::after {
          content: close-quote;
          @apply text-secondary;
        }
  
        footer {
          @apply text-secondary;
          @apply text-sm;
        }
      }
    }
    div.quote-block.long > blockquote {
      @apply border-l border-solid border-secondary;
      @apply pl-2;
    }

    div.listing-block {
      code:not(details.listing-block *, figure.listing-block *) {
        @apply pl-7;
      }

      &.code pre {
        @apply relative;

        &::before {
          content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 18' width='24' height='18' fill='none' stroke='hsl(40, 50%, 55%)' stroke-linecap='round' stroke-linejoin='round'><polyline points='16 18 22 12 16 6'></polyline><polyline points='8 6 2 12 8 18'></polyline></svg>");
          @apply stroke-1;
          @apply absolute;
          /* @apply right-2; */
          /* @apply pr-1; */
        }
      }

      &.terminal pre, &.term pre {
        @apply relative;

        &::before {
          content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 20' width='24' height='20' fill='none' stroke='hsl(40, 50%, 55%)' stroke-linecap='round' stroke-linejoin='round'><polyline points='4 17 10 11 4 5' /><line x1='12' y1='19' x2='20' y2='19' /></svg>");
          @apply stroke-1;
          @apply absolute;
          /* @apply right-2; */
          /* @apply pr-1; */
        }
      }
    }

    figure.listing-block, details.listing-block {
      @apply bg-gray-700;
      @apply mb-4;
    }
    figure.listing-block>figcaption, details.listing-block>summary {
      @apply text-secondary;
      /* @apply text-center; */
      @apply mx-2;
      @apply py-2;
    }
    figure.listing-block>figcaption, details[open].listing-block>summary {
      @apply border-b-2 border-solid border-gray-800;
    }
    details.listing-block > summary {
      @apply border-b-2 border-solid border-gray-500;
    }
    details[open].listing-block, details.listing-block {
      > summary:hover {
        @apply border-b-2 border-solid border-primary;
      }
    }

    figure.code {
      figcaption::before {
        content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 18' width='24' height='18' fill='none' stroke='hsl(40, 50%, 55%)' stroke-linecap='round' stroke-linejoin='round'><polyline points='16 18 22 12 16 6'></polyline><polyline points='8 6 2 12 8 18'></polyline></svg>");
        @apply stroke-1;
      }
    }
    figure.terminal, figure.term {
      figcaption::before {
        content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 20' width='24' height='20' fill='none' stroke='hsl(40, 50%, 55%)' stroke-linecap='round' stroke-linejoin='round'><polyline points='4 17 10 11 4 5' /><line x1='12' y1='19' x2='20' y2='19' /></svg>");
        @apply stroke-1;
      }
    }
    details.code > summary {
      &::marker {
        content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 18' width='24' height='18' fill='none' stroke='hsl(40, 50%, 55%)' stroke-linecap='round' stroke-linejoin='round'><polyline points='16 18 22 12 16 6'></polyline><polyline points='8 6 2 12 8 18'></polyline></svg>");
      }
    }
    details.term > summary {
      &::marker {
        content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 20' width='24' height='20' fill='none' stroke='hsl(40, 50%, 55%)' stroke-linecap='round' stroke-linejoin='round'><polyline points='4 17 10 11 4 5' /><line x1='12' y1='19' x2='20' y2='19' /></svg>");
      }
    }

    div.table-block {
      @apply overflow-x-auto;
      @apply mb-4;
    }
    table.frame-all {
      @apply w-full;
      @apply border-l-8 border-r-8;
      @apply border-collapse;
      @apply border-solid;
      @apply border-gray-700;
      @apply bg-gray-700;
    }

    table.grid-rows {
      thead, tbody {
        /* @apply border border-gray-800 border-solid; */
      }
      tr {
        @apply border-b border-gray-800 border-solid;
      }
      tbody tr:last-child {
        @apply border-b-0;
      }
      td {
        @apply p-1;
      }
    }
    table>tbody>tr>td.halign-center {
          @apply text-center;
    }
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-600;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-500;
    @apply border-solid border-2 border-gray-600;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary;
  }

  * {
    scrollbar-color: var(--color-gray-500) var(--color-gray-600);
    scrollbar-width: thin;
  }
}